@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

/* Neue Montreal Font */

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 200;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 400;
    /* Book */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 530;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 800;
    /* Bold */
    font-style: normal;
}

/* Neue Montreal Monospace Font */

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Thin.otf') format('opentype');
    font-weight: 200;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Regular.otf') format('opentype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Medium.otf') format('opentype');
    font-weight: 530;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Bold.otf') format('opentype');
    font-weight: 800;
    /* Bold */
    font-style: normal;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}