@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    background-color: black;
}

/* Neue Montreal Font */

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 200;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 400;
    /* Book */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 530;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal/PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: 800;
    /* Bold */
    font-style: normal;
}

/* Neue Montreal Monospace Font */

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Thin.otf') format('opentype');
    font-weight: 200;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Regular.otf') format('opentype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Medium.otf') format('opentype');
    font-weight: 530;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Mono';
    src: url('/fonts/NeueMontrealMono/PPNeueMontrealMono-Bold.otf') format('opentype');
    font-weight: 800;
    /* Bold */
    font-style: normal;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black !important;
}

.font-NeueMontreal {
    font-family: 'Neue Montreal', sans-serif;
}

.font-NeueMontrealMono {
    font-family: 'Neue Montreal Mono', monospace;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

._text {
    font-weight: 600;
    position: relative;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

._text::before {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.text-btn {
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

._text:hover,
.text-btn:hover {
    opacity: 0.5;
}

.project_title {
    font-weight: 200;
    font-size: 3vw;
    text-align: right;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}